html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: white;
  overflow-x: hidden;
  /* background: linear-gradient(
    45deg,
    #a18cd1,
    #fbc2eb,
    #f7b42c,
    #fcff9e,
    #ffecd2
  );
  background-size: 300% 300%;
  animation: color 10s ease-in-out infinite;
*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
} */
